<!DOCUTYPE html>
<hmtl>
<head>
  <title>test index</title>
  <meta charset="utf-8">
</head>
<body>
  <h1>bulletin borad</h1>
  <table>
    <tr>
      <th>番号</th>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
    <% @bulletins.each do |bulletin| %>
    <tr>
      <td><%= bulletin.id %></td>
      <td><%= bulletin.title %></td>
      <td><%= bulletin.content %></td>
    </tr>
    <% end %>
</body>
</html>
